<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenidos a Django</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        <h1>Ruta : app2/inicio</h1>
        <form method="post" action="{% url 'app2:ingresoUsuario' %}">
            {% csrf_token %}
            <div>
                <label>Ingrese su nombre</label>
                <input type="text" name="nombreUsuario">
            </div>
            <div>
                <label>Ingrese su apellido</label>
                <input type="text" name="apellidoUsuario">
            </div>
            <div>
                <button type="submit">Registrar</button>
            </div>
        </form>

        {% for informacionUsuario in lista_usuarios %}
            <div>
                <p>Nombre del usuario : {{ informacionUsuario.nombreEstudiante }}</p>
                <p>Apellido del usuario : {{ informacionUsuario.apellidoEstudiante }}</p>
                <a class="btn btn-success" href="{% url 'app2:mostrarDatos' informacionUsuario.id %}">Mostrar</a>
            </div>
            <br>
        {% endfor %}
    </body>
</html>